*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #121214;
  color: #fff;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > h1,h2{
  color: #996dff;
}
form{
  margin-top: 20px;
}
button{
  padding: 0px 5px;
}
/*Caracteristicas de tamanho e cor dos icones*/  
#logo{
  font-size: 40px;
  color: #8257e5;
}
#submit{
  font-size: 20px;
  color: #8257e5;
}