* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



main>h1,
h2 {
  color: #996dff;
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input[type="number"]:focus {
  outline: none;
  background-color: #444;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #8257e5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #996dff;
}

#logo {
  font-size: 40px;
  color: #8257e5;
  margin-bottom: 15px;
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #ff5252;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.popup.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.popup-content {
  display: flex;
  align-items: center;
}

.popup-texto {
  font-size: 16px;
  margin-right: 10px;
}

@media (orientation:portrait) and (max-width:1025px) {
  main {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 95vw;
  }

  main>h1,
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 90vw;
  }
}